$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 2.5rem;

@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: $font-stack;
    font-size: 62.5%;
    background-color: $primary-color;
}

nav {
    @include flexCenter(row, space-between, center);
    width: auto;
    padding: 1.5rem;
    color: $primary-text-color;


    p {
        font-size: 2.4rem;
        padding-left: 3rem;
    }

    .Icons {

        display: flex;
        gap: 1.5rem;
        @include buttonStyle;
        
    }

}

article {
    @include flexCenter(row, space-between, center);
    width: auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    color: $primary-text-color;

    .Impact-section {
        @include flexCenter(column, space-evenly, flex-start);
        /* display: flex;
        flex-direction: column; */
        padding-top: 50px;
        gap: 25px;
    }

    h1 {
        font-size: 6rem;

    }

    p {
        font-size: $paragraph-size;
    }

    @include buttonStyle;
    button {
        width: 12vw;
        padding: 20px;
        background-color: $quaternary-color;
        border-radius: 35px;
        color: white;
        font-size: 2.3rem;
        &:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
        }
    }

    img {
        width: 25vw;
        border-radius: 19px;
    }
}

section {
    width: auto;
    height: auto;
    padding: 6rem;

    h2 {
        color: $primary-text-color;
        font-size: 2.5rem;
    }

    .Healthcare {
        padding-bottom: 6rem;


        h2 {
            padding-bottom: 6rem;
            font-weight: 300;
        }

        .Card-section {
            @include flexCenter(row, center, center);
            /* display: flex;
            justify-content: center;
            align-items: center; */
            flex-wrap: wrap;
            column-gap: 20rem;
            row-gap: 8rem;
            width: auto;
            height: auto;
        }

        .Product-card {
            width: 14vw;
            height: 45vh;
            padding: 2rem;
            border-radius: 8px;
            background-color: $secondary-color;

            .Icon {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                padding-bottom: 12px;

                svg {
                    width: 28px;
                    height: 28px;
                }
            }

            .Product-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                img {
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }

        }
    }

    .Furniture {
        @extend .Healthcare;

        /* Esto extiende todos los estilos de Healthcare */
        .Product-card {
            background-color: $tertiary-color;
            color: white;
        }
    }
}

.About-us {
    padding-bottom: 6rem;

    h2 {
        font-weight: bold;
        padding-bottom: 6rem;
    }

    .Mission-section {
        @include flexCenter(row, space-evenly, center);
        .Earth {
            $text-color: #E86424;
            display: flex;
            width: 30vw;
            gap: 4rem;
            color: $text-color;
            
            img {
                object-fit: contain;
            }

            p {
                font-size: $paragraph-size;
                text-align: center;
            }
        }
    }

    .Innovation {
        @extend .Earth;
    }
}

.Gallery {

    h2 {
        font-weight: bold;
        padding-bottom: 6rem;
    }

    .Gallery-images {
        @include flexCenter(row, space-between, center);
        
        img {
            width: 28vw;
            height: 45vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 16px;
            &:hover {
                transform: scale(1.1);
                transition: transform 0.2s;
            }
        }
    }
}

.Location {
    $text-color: #E86424;
    color: $text-color;

    h2 {
        font-size: 2rem;
        padding: 6rem 0;
    }

    .Map {
        @include flexCenter(row, center, center);
        padding-bottom: 5rem;
    }

    h3, p {
        font-size: $paragraph-size;
    }

}

footer {
    width: 100%;
    height: auto;
    padding: 4rem;
    color: white;
    $background: $quaternary-color;
    background-color: $background;

    .Social-media {
        @include flexCenter(row, center, center);
        gap: 4rem;
        padding-bottom: 4rem;
    }
}