$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternion-color: #FA9500;
$font-stack: "IBM Plex Sans", sans-serif; 
$paragraph-size: 2.5rem;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: $font-stack;
    font-size: 62.5%;
    background-color: $primary-color;
}

nav  {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 1.5rem;
    color: $primary-text-color;
    
    
    p {
        font-size: 2.4rem;
        padding-left: 3rem;
    }
    
    .Icons {
        
        display: flex;
        gap: 1.5rem;
        
        button {
            background: none;
            border-style: none;
        }
    }

}

article {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    color: $primary-text-color;

    .Impact-section {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 25px;
    }

    h1 {
        font-size: 6rem;

    }

    p {
        font-size: $paragraph-size;
    }

    button {
        width: 12vw;
        padding: 20px;
        background-color: $quaternion-color;
        border-style: none;
        border-radius: 35px;
        color: white;
        font-size: 2.3rem;
    }

    img {
        width: 25vw;
        border-radius: 19px;
    }
}

footer {
    width: 100%;
    height: 25rem;
    $background: $quaternion-color;
    background-color: $background; 
}